.toggler-menu {
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 5px;
  padding: 0 25px;
  height: 40px;
  line-height: 1;
  position: relative;
  margin-left: 15px;

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 17px;
    box-shadow: 0 0 0 1px currentColor, 0px -7px 0 1px currentColor,
      0 7px 0 1px currentColor;
    height: 0;
  }
}

.header-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11111;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: ease all 0.35s;
  background-color: transparent;

  &.fixed-header {
    background-color: #AF96B0 !important;
    box-shadow: 0 0.125rem 0.25rem #AF96B0 !important;
    z-index: 9999;


    .main-menu a {
      color: white !important;
    }

    .px-btn-accueil {
      background-color: #AF96B0;
      border: 2px solid white;
      color: white;
    }

    .px-btn-header {
      background-color: #AF96B0;
      border: 2px solid white;
      color: white;
    }
  }

  >.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include down-md {
      max-width: 100%;
    }
  }

  .main-menu {
    display: flex;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0 30px 0 0;

    @include down-md {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #b5a6b5;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      flex-direction: column;
      padding: 10px 20px;
      display: none;
      box-shadow: 0 0.125rem 0.25rem rgba(55, 55, 55, 0.075);
      transition: .2;
    }

    >li {
      padding: 0 20px;

      @include down-md {
        padding: 8px 0;
      }

      a {
        padding: 8px 0;
        text-transform: uppercase;
        color: #AF96B0;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 500;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          color: var(--px-white);
        }

        &:after {
          content: '';
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          transition: ease all 0.35s;
          background-color: currentColor;
        }

        &.active {
          &:after {
            width: 100%;
            left: 0;
            right: auto;
          }
        }
      }
    }
  }

  .logo-dark {
    display: none;
  }

  &.menu-open {
    @include down-md {
      .main-menu {
        display: flex;
        align-items: flex-start;
      }
    }
  }
}


@media (min-width:1200px) and (max-width:1399px) {
  .logo {
    position: relative;
    left: -30px;
    top: -8px;
  }

  a {
    display: inline-block !important;
    font-size: 11px !important;
  }
}